.date_picker_input_field {
  flex: 1;
  height: 18px;
  font-size: 0.8rem;
  font-weight: normal;
  display: inline-flex;
  margin-top: auto;
  margin: 0px;
  padding: 8px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  width: calc( 100% - 18px);
}

.date_picker_input_field:hover,
.date_picker_input_field:focus,
.date_picker_input_field:active {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)
}

.react-datepicker-wrapper {
  position:relative;
  margin: 0px 8px;
  height: 38px;
  flex: 1;
  width: calc( 100% - 18px);
}

.react-datepicker__input-container {
  height: 100%;
  width: 100%;
}